---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import AnimatedBackground from '../components/AnimatedBackground.astro';
import GlassContainer from '../components/GlassContainer.astro';
import AnimatedContent from '../components/AnimatedContent.astro';
import CarouselWrapper from '../components/CarouselWrapper.astro';

const images = [
	'/cdn-cgi/image/format=auto,metadata=none/birthday1.png', 
  	'/cdn-cgi/image/format=auto,metadata=none/birthday2.png',
  	'/cdn-cgi/image/format=auto,metadata=none/birthday3.png',
  	'/cdn-cgi/image/format=auto,metadata=none/birthday4.png',
];
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			body {
				font-family: 'Inter', sans-serif;
				color: #333;
				line-height: 1.6;
			}
		</style>
	</head>
	<body>
		<AnimatedBackground />
		
		<Header />
		
		<GlassContainer>
			<CarouselWrapper images={images} />
			
			<AnimatedContent>
				<h5>四禧丸子是bilibili于2021年12月31日推出的虚拟偶像组合，由恬豆、梨安、沐霂、又一四位成员组成。2022年1月16日首播，主要于Bilibili开展活动。</h5>
				<p></p>
				<h5>设定</h5>
				<p>
					这是一家老字号点心店老店新开的故事。 父亲把百年老字号中式点心店“禧运楼”的经营甩给了女儿恬豆，出去云游四方了。 恬豆和她的好朋友梨安、又一、沐霂被突然飞来的挑战搞得措手不及，但为了让老字号重获新生，为了继续团队的梦想，她们决定用自己的方式去努力奔赴，于是在友情和梦想的激励下“四禧丸子”正式出道啦！ 
				</p>
				<p>
				</p>
				<p>成员介绍</p>
				<ul>
					<li><a href="https://space.bilibili.com/1660392980">恬豆 Bekki</a></li>
					<p>  是禧运楼老板娘兼首席糕点师用可爱和元气化解一切难题的神器团宠。反射弧很长，做事从不着急。贤惠能干的小厨娘。特长：料理、唱歌</p>
					<li><a href="https://space.bilibili.com/1900141897">梨安 Lian</a></li>
					<p>  是禧运楼看板娘。外表性感内心细腻，有明确的目标和信念。一直在别人看不到的地方默默认真努力，但是生活中是个大迷糊。特长：舞蹈、乒乓球</p>
					<li><a href="https://space.bilibili.com/1878154667">沐霂 Queeni</a></li>
					<p>  是禧运楼掌柜兼队长。沉着冷静的队长，是团内的拍板人。有主见，有时也被别人说是个傲娇。特长：宅舞</p>
					<li><a href="https://space.bilibili.com/1217754423">又一 Yoyi</a></li>
					<p>  是禧运楼舞台总管爱吐槽的古灵精怪小恶魔，但种种行为也经常被别人吐槽。总是沉浸在自己的世界里。特长：唱歌</p>
				</ul>
			</AnimatedContent>
		</GlassContainer>
		
		<Footer />
	</body>
</html>
